.CartButton{
   background: #FFE0B3;
   color: rgb(0, 0, 0);
   font-weight: 700;
   text-transform: capitalize;
   padding: 10px 20px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.CartButton:hover, .CartButton:visited , .CartButton:active, .CartButton:focus{
   background: orange;
   
}
.product-img{
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}

@media screen and (min-width: 0px) and (max-width:578px) {
   .card{
      height: 700px!important;
   }
}